PORT=5001
HOST_PORT=5001
MB_USERNAME=your_mb_username
MB_PASSWORD=your_mb_password
MB_BANK_CARD_DEFAULT=your_default_account_number
MB_TRANSACTION_DAYS=7
MB_BANK_API_IMAGE=taikhoanxin/tkx-mb-bank-api:prod
